body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 200px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 0 20px red, 0 0 0 40px orange, 0 0 0 60px yellow, 0 0 0 80px green, 0 0 0 100px blue, 0 0 0 120px indigo, 0 0 0 140px violet;
}
#red {
  border-top-color: #f00;
}
#orange {
  border-top-color:#ffa500;
}
#yellow {
  border-top-color: #ff0;
}
#green {
  border-top-color: #00bc3f;
}
#blue {
  border-top-color: #06f;
}
#indigo {
  border-top-color: #8a2be2;
}
#violet {
  border-top-color: #d300c9;
}